section#projects {
    .container {
        .title-container {
            ion-icon {
                @keyframes move-left-right {
                    0% {
                        transform: translateX(0px);
                    }

                    50% {
                        transform: translateX(-50px);
                    }

                    100% {
                        transform: translateX(0px);
                    }
                }

                font-size: 32px;
                animation: move-left-right 2s infinite ease-in-out;
            }
        }

        #projects-list {
            display: flex;
            gap: 50px 20px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            @keyframes appear {
                from {
                    opacity: 0;
                    transform: translateY(-30px);
                }
            }

            @keyframes bounce-techs {
                0% {
                    transform: translateY(0px);
                }

                30% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translateY(-10px);
                }

                70% {
                    transform: translateY(0px);
                }

                100% {
                    transform: translateY(0px);
                }
            }

            $items: 60;

            @for $i from 1 through $items {
                &>li:nth-child(#{$i}) {
                    $delay: $i * 200ms+1.5s;
                    animation-delay: $delay;

                    $items: 6;

                    @for $i from 1 through $items {
                        & .techs>li:nth-child(#{$i}) {
                            animation-delay: 200ms * $i + $delay;
                        }
                    }
                }
            }

            &>li {
                flex-shrink: 0;
                flex-basis: min(80%, 250px);
                display: grid;
                gap: 10px;
                animation: appear 500ms backwards;

                .image-container {
                    overflow: hidden;
                    position: relative;

                    a {
                        color: black;

                        &:hover,
                        &:focus {
                            img {
                                transform: scale(1.2);
                            }
                        }

                        img {
                            object-fit: cover;
                            height: 200px;
                            width: 100%;
                            transition: 200ms;
                        }
                    }

                    .techs {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 10px;
                        display: flex;
                        max-width: 100%;
                        flex-wrap: wrap;
                        gap: 10px;
                        justify-content: right;


                        li {
                            background-color: black;
                            border-radius: 999px;
                            padding: 8px;
                            display: flex;
                            animation: appear 500ms backwards, bounce-techs 2s infinite;

                            ion-icon {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }

                h2 {
                    font-size: 20px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
    }
}