section#projects .container .title-container ion-icon {
  font-size: 32px;
  animation: move-left-right 2s infinite ease-in-out;
}
@keyframes move-left-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}
section#projects .container #projects-list {
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@keyframes bounce-techs {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
section#projects .container #projects-list > li:nth-child(1) {
  animation-delay: 1700ms;
}
section#projects .container #projects-list > li:nth-child(1) .techs > li:nth-child(1) {
  animation-delay: 1900ms;
}
section#projects .container #projects-list > li:nth-child(1) .techs > li:nth-child(2) {
  animation-delay: 2100ms;
}
section#projects .container #projects-list > li:nth-child(1) .techs > li:nth-child(3) {
  animation-delay: 2300ms;
}
section#projects .container #projects-list > li:nth-child(1) .techs > li:nth-child(4) {
  animation-delay: 2500ms;
}
section#projects .container #projects-list > li:nth-child(1) .techs > li:nth-child(5) {
  animation-delay: 2700ms;
}
section#projects .container #projects-list > li:nth-child(1) .techs > li:nth-child(6) {
  animation-delay: 2900ms;
}
section#projects .container #projects-list > li:nth-child(2) {
  animation-delay: 1900ms;
}
section#projects .container #projects-list > li:nth-child(2) .techs > li:nth-child(1) {
  animation-delay: 2100ms;
}
section#projects .container #projects-list > li:nth-child(2) .techs > li:nth-child(2) {
  animation-delay: 2300ms;
}
section#projects .container #projects-list > li:nth-child(2) .techs > li:nth-child(3) {
  animation-delay: 2500ms;
}
section#projects .container #projects-list > li:nth-child(2) .techs > li:nth-child(4) {
  animation-delay: 2700ms;
}
section#projects .container #projects-list > li:nth-child(2) .techs > li:nth-child(5) {
  animation-delay: 2900ms;
}
section#projects .container #projects-list > li:nth-child(2) .techs > li:nth-child(6) {
  animation-delay: 3100ms;
}
section#projects .container #projects-list > li:nth-child(3) {
  animation-delay: 2100ms;
}
section#projects .container #projects-list > li:nth-child(3) .techs > li:nth-child(1) {
  animation-delay: 2300ms;
}
section#projects .container #projects-list > li:nth-child(3) .techs > li:nth-child(2) {
  animation-delay: 2500ms;
}
section#projects .container #projects-list > li:nth-child(3) .techs > li:nth-child(3) {
  animation-delay: 2700ms;
}
section#projects .container #projects-list > li:nth-child(3) .techs > li:nth-child(4) {
  animation-delay: 2900ms;
}
section#projects .container #projects-list > li:nth-child(3) .techs > li:nth-child(5) {
  animation-delay: 3100ms;
}
section#projects .container #projects-list > li:nth-child(3) .techs > li:nth-child(6) {
  animation-delay: 3300ms;
}
section#projects .container #projects-list > li:nth-child(4) {
  animation-delay: 2300ms;
}
section#projects .container #projects-list > li:nth-child(4) .techs > li:nth-child(1) {
  animation-delay: 2500ms;
}
section#projects .container #projects-list > li:nth-child(4) .techs > li:nth-child(2) {
  animation-delay: 2700ms;
}
section#projects .container #projects-list > li:nth-child(4) .techs > li:nth-child(3) {
  animation-delay: 2900ms;
}
section#projects .container #projects-list > li:nth-child(4) .techs > li:nth-child(4) {
  animation-delay: 3100ms;
}
section#projects .container #projects-list > li:nth-child(4) .techs > li:nth-child(5) {
  animation-delay: 3300ms;
}
section#projects .container #projects-list > li:nth-child(4) .techs > li:nth-child(6) {
  animation-delay: 3500ms;
}
section#projects .container #projects-list > li:nth-child(5) {
  animation-delay: 2500ms;
}
section#projects .container #projects-list > li:nth-child(5) .techs > li:nth-child(1) {
  animation-delay: 2700ms;
}
section#projects .container #projects-list > li:nth-child(5) .techs > li:nth-child(2) {
  animation-delay: 2900ms;
}
section#projects .container #projects-list > li:nth-child(5) .techs > li:nth-child(3) {
  animation-delay: 3100ms;
}
section#projects .container #projects-list > li:nth-child(5) .techs > li:nth-child(4) {
  animation-delay: 3300ms;
}
section#projects .container #projects-list > li:nth-child(5) .techs > li:nth-child(5) {
  animation-delay: 3500ms;
}
section#projects .container #projects-list > li:nth-child(5) .techs > li:nth-child(6) {
  animation-delay: 3700ms;
}
section#projects .container #projects-list > li:nth-child(6) {
  animation-delay: 2700ms;
}
section#projects .container #projects-list > li:nth-child(6) .techs > li:nth-child(1) {
  animation-delay: 2900ms;
}
section#projects .container #projects-list > li:nth-child(6) .techs > li:nth-child(2) {
  animation-delay: 3100ms;
}
section#projects .container #projects-list > li:nth-child(6) .techs > li:nth-child(3) {
  animation-delay: 3300ms;
}
section#projects .container #projects-list > li:nth-child(6) .techs > li:nth-child(4) {
  animation-delay: 3500ms;
}
section#projects .container #projects-list > li:nth-child(6) .techs > li:nth-child(5) {
  animation-delay: 3700ms;
}
section#projects .container #projects-list > li:nth-child(6) .techs > li:nth-child(6) {
  animation-delay: 3900ms;
}
section#projects .container #projects-list > li:nth-child(7) {
  animation-delay: 2900ms;
}
section#projects .container #projects-list > li:nth-child(7) .techs > li:nth-child(1) {
  animation-delay: 3100ms;
}
section#projects .container #projects-list > li:nth-child(7) .techs > li:nth-child(2) {
  animation-delay: 3300ms;
}
section#projects .container #projects-list > li:nth-child(7) .techs > li:nth-child(3) {
  animation-delay: 3500ms;
}
section#projects .container #projects-list > li:nth-child(7) .techs > li:nth-child(4) {
  animation-delay: 3700ms;
}
section#projects .container #projects-list > li:nth-child(7) .techs > li:nth-child(5) {
  animation-delay: 3900ms;
}
section#projects .container #projects-list > li:nth-child(7) .techs > li:nth-child(6) {
  animation-delay: 4100ms;
}
section#projects .container #projects-list > li:nth-child(8) {
  animation-delay: 3100ms;
}
section#projects .container #projects-list > li:nth-child(8) .techs > li:nth-child(1) {
  animation-delay: 3300ms;
}
section#projects .container #projects-list > li:nth-child(8) .techs > li:nth-child(2) {
  animation-delay: 3500ms;
}
section#projects .container #projects-list > li:nth-child(8) .techs > li:nth-child(3) {
  animation-delay: 3700ms;
}
section#projects .container #projects-list > li:nth-child(8) .techs > li:nth-child(4) {
  animation-delay: 3900ms;
}
section#projects .container #projects-list > li:nth-child(8) .techs > li:nth-child(5) {
  animation-delay: 4100ms;
}
section#projects .container #projects-list > li:nth-child(8) .techs > li:nth-child(6) {
  animation-delay: 4300ms;
}
section#projects .container #projects-list > li:nth-child(9) {
  animation-delay: 3300ms;
}
section#projects .container #projects-list > li:nth-child(9) .techs > li:nth-child(1) {
  animation-delay: 3500ms;
}
section#projects .container #projects-list > li:nth-child(9) .techs > li:nth-child(2) {
  animation-delay: 3700ms;
}
section#projects .container #projects-list > li:nth-child(9) .techs > li:nth-child(3) {
  animation-delay: 3900ms;
}
section#projects .container #projects-list > li:nth-child(9) .techs > li:nth-child(4) {
  animation-delay: 4100ms;
}
section#projects .container #projects-list > li:nth-child(9) .techs > li:nth-child(5) {
  animation-delay: 4300ms;
}
section#projects .container #projects-list > li:nth-child(9) .techs > li:nth-child(6) {
  animation-delay: 4500ms;
}
section#projects .container #projects-list > li:nth-child(10) {
  animation-delay: 3500ms;
}
section#projects .container #projects-list > li:nth-child(10) .techs > li:nth-child(1) {
  animation-delay: 3700ms;
}
section#projects .container #projects-list > li:nth-child(10) .techs > li:nth-child(2) {
  animation-delay: 3900ms;
}
section#projects .container #projects-list > li:nth-child(10) .techs > li:nth-child(3) {
  animation-delay: 4100ms;
}
section#projects .container #projects-list > li:nth-child(10) .techs > li:nth-child(4) {
  animation-delay: 4300ms;
}
section#projects .container #projects-list > li:nth-child(10) .techs > li:nth-child(5) {
  animation-delay: 4500ms;
}
section#projects .container #projects-list > li:nth-child(10) .techs > li:nth-child(6) {
  animation-delay: 4700ms;
}
section#projects .container #projects-list > li:nth-child(11) {
  animation-delay: 3700ms;
}
section#projects .container #projects-list > li:nth-child(11) .techs > li:nth-child(1) {
  animation-delay: 3900ms;
}
section#projects .container #projects-list > li:nth-child(11) .techs > li:nth-child(2) {
  animation-delay: 4100ms;
}
section#projects .container #projects-list > li:nth-child(11) .techs > li:nth-child(3) {
  animation-delay: 4300ms;
}
section#projects .container #projects-list > li:nth-child(11) .techs > li:nth-child(4) {
  animation-delay: 4500ms;
}
section#projects .container #projects-list > li:nth-child(11) .techs > li:nth-child(5) {
  animation-delay: 4700ms;
}
section#projects .container #projects-list > li:nth-child(11) .techs > li:nth-child(6) {
  animation-delay: 4900ms;
}
section#projects .container #projects-list > li:nth-child(12) {
  animation-delay: 3900ms;
}
section#projects .container #projects-list > li:nth-child(12) .techs > li:nth-child(1) {
  animation-delay: 4100ms;
}
section#projects .container #projects-list > li:nth-child(12) .techs > li:nth-child(2) {
  animation-delay: 4300ms;
}
section#projects .container #projects-list > li:nth-child(12) .techs > li:nth-child(3) {
  animation-delay: 4500ms;
}
section#projects .container #projects-list > li:nth-child(12) .techs > li:nth-child(4) {
  animation-delay: 4700ms;
}
section#projects .container #projects-list > li:nth-child(12) .techs > li:nth-child(5) {
  animation-delay: 4900ms;
}
section#projects .container #projects-list > li:nth-child(12) .techs > li:nth-child(6) {
  animation-delay: 5100ms;
}
section#projects .container #projects-list > li:nth-child(13) {
  animation-delay: 4100ms;
}
section#projects .container #projects-list > li:nth-child(13) .techs > li:nth-child(1) {
  animation-delay: 4300ms;
}
section#projects .container #projects-list > li:nth-child(13) .techs > li:nth-child(2) {
  animation-delay: 4500ms;
}
section#projects .container #projects-list > li:nth-child(13) .techs > li:nth-child(3) {
  animation-delay: 4700ms;
}
section#projects .container #projects-list > li:nth-child(13) .techs > li:nth-child(4) {
  animation-delay: 4900ms;
}
section#projects .container #projects-list > li:nth-child(13) .techs > li:nth-child(5) {
  animation-delay: 5100ms;
}
section#projects .container #projects-list > li:nth-child(13) .techs > li:nth-child(6) {
  animation-delay: 5300ms;
}
section#projects .container #projects-list > li:nth-child(14) {
  animation-delay: 4300ms;
}
section#projects .container #projects-list > li:nth-child(14) .techs > li:nth-child(1) {
  animation-delay: 4500ms;
}
section#projects .container #projects-list > li:nth-child(14) .techs > li:nth-child(2) {
  animation-delay: 4700ms;
}
section#projects .container #projects-list > li:nth-child(14) .techs > li:nth-child(3) {
  animation-delay: 4900ms;
}
section#projects .container #projects-list > li:nth-child(14) .techs > li:nth-child(4) {
  animation-delay: 5100ms;
}
section#projects .container #projects-list > li:nth-child(14) .techs > li:nth-child(5) {
  animation-delay: 5300ms;
}
section#projects .container #projects-list > li:nth-child(14) .techs > li:nth-child(6) {
  animation-delay: 5500ms;
}
section#projects .container #projects-list > li:nth-child(15) {
  animation-delay: 4500ms;
}
section#projects .container #projects-list > li:nth-child(15) .techs > li:nth-child(1) {
  animation-delay: 4700ms;
}
section#projects .container #projects-list > li:nth-child(15) .techs > li:nth-child(2) {
  animation-delay: 4900ms;
}
section#projects .container #projects-list > li:nth-child(15) .techs > li:nth-child(3) {
  animation-delay: 5100ms;
}
section#projects .container #projects-list > li:nth-child(15) .techs > li:nth-child(4) {
  animation-delay: 5300ms;
}
section#projects .container #projects-list > li:nth-child(15) .techs > li:nth-child(5) {
  animation-delay: 5500ms;
}
section#projects .container #projects-list > li:nth-child(15) .techs > li:nth-child(6) {
  animation-delay: 5700ms;
}
section#projects .container #projects-list > li:nth-child(16) {
  animation-delay: 4700ms;
}
section#projects .container #projects-list > li:nth-child(16) .techs > li:nth-child(1) {
  animation-delay: 4900ms;
}
section#projects .container #projects-list > li:nth-child(16) .techs > li:nth-child(2) {
  animation-delay: 5100ms;
}
section#projects .container #projects-list > li:nth-child(16) .techs > li:nth-child(3) {
  animation-delay: 5300ms;
}
section#projects .container #projects-list > li:nth-child(16) .techs > li:nth-child(4) {
  animation-delay: 5500ms;
}
section#projects .container #projects-list > li:nth-child(16) .techs > li:nth-child(5) {
  animation-delay: 5700ms;
}
section#projects .container #projects-list > li:nth-child(16) .techs > li:nth-child(6) {
  animation-delay: 5900ms;
}
section#projects .container #projects-list > li:nth-child(17) {
  animation-delay: 4900ms;
}
section#projects .container #projects-list > li:nth-child(17) .techs > li:nth-child(1) {
  animation-delay: 5100ms;
}
section#projects .container #projects-list > li:nth-child(17) .techs > li:nth-child(2) {
  animation-delay: 5300ms;
}
section#projects .container #projects-list > li:nth-child(17) .techs > li:nth-child(3) {
  animation-delay: 5500ms;
}
section#projects .container #projects-list > li:nth-child(17) .techs > li:nth-child(4) {
  animation-delay: 5700ms;
}
section#projects .container #projects-list > li:nth-child(17) .techs > li:nth-child(5) {
  animation-delay: 5900ms;
}
section#projects .container #projects-list > li:nth-child(17) .techs > li:nth-child(6) {
  animation-delay: 6100ms;
}
section#projects .container #projects-list > li:nth-child(18) {
  animation-delay: 5100ms;
}
section#projects .container #projects-list > li:nth-child(18) .techs > li:nth-child(1) {
  animation-delay: 5300ms;
}
section#projects .container #projects-list > li:nth-child(18) .techs > li:nth-child(2) {
  animation-delay: 5500ms;
}
section#projects .container #projects-list > li:nth-child(18) .techs > li:nth-child(3) {
  animation-delay: 5700ms;
}
section#projects .container #projects-list > li:nth-child(18) .techs > li:nth-child(4) {
  animation-delay: 5900ms;
}
section#projects .container #projects-list > li:nth-child(18) .techs > li:nth-child(5) {
  animation-delay: 6100ms;
}
section#projects .container #projects-list > li:nth-child(18) .techs > li:nth-child(6) {
  animation-delay: 6300ms;
}
section#projects .container #projects-list > li:nth-child(19) {
  animation-delay: 5300ms;
}
section#projects .container #projects-list > li:nth-child(19) .techs > li:nth-child(1) {
  animation-delay: 5500ms;
}
section#projects .container #projects-list > li:nth-child(19) .techs > li:nth-child(2) {
  animation-delay: 5700ms;
}
section#projects .container #projects-list > li:nth-child(19) .techs > li:nth-child(3) {
  animation-delay: 5900ms;
}
section#projects .container #projects-list > li:nth-child(19) .techs > li:nth-child(4) {
  animation-delay: 6100ms;
}
section#projects .container #projects-list > li:nth-child(19) .techs > li:nth-child(5) {
  animation-delay: 6300ms;
}
section#projects .container #projects-list > li:nth-child(19) .techs > li:nth-child(6) {
  animation-delay: 6500ms;
}
section#projects .container #projects-list > li:nth-child(20) {
  animation-delay: 5500ms;
}
section#projects .container #projects-list > li:nth-child(20) .techs > li:nth-child(1) {
  animation-delay: 5700ms;
}
section#projects .container #projects-list > li:nth-child(20) .techs > li:nth-child(2) {
  animation-delay: 5900ms;
}
section#projects .container #projects-list > li:nth-child(20) .techs > li:nth-child(3) {
  animation-delay: 6100ms;
}
section#projects .container #projects-list > li:nth-child(20) .techs > li:nth-child(4) {
  animation-delay: 6300ms;
}
section#projects .container #projects-list > li:nth-child(20) .techs > li:nth-child(5) {
  animation-delay: 6500ms;
}
section#projects .container #projects-list > li:nth-child(20) .techs > li:nth-child(6) {
  animation-delay: 6700ms;
}
section#projects .container #projects-list > li:nth-child(21) {
  animation-delay: 5700ms;
}
section#projects .container #projects-list > li:nth-child(21) .techs > li:nth-child(1) {
  animation-delay: 5900ms;
}
section#projects .container #projects-list > li:nth-child(21) .techs > li:nth-child(2) {
  animation-delay: 6100ms;
}
section#projects .container #projects-list > li:nth-child(21) .techs > li:nth-child(3) {
  animation-delay: 6300ms;
}
section#projects .container #projects-list > li:nth-child(21) .techs > li:nth-child(4) {
  animation-delay: 6500ms;
}
section#projects .container #projects-list > li:nth-child(21) .techs > li:nth-child(5) {
  animation-delay: 6700ms;
}
section#projects .container #projects-list > li:nth-child(21) .techs > li:nth-child(6) {
  animation-delay: 6900ms;
}
section#projects .container #projects-list > li:nth-child(22) {
  animation-delay: 5900ms;
}
section#projects .container #projects-list > li:nth-child(22) .techs > li:nth-child(1) {
  animation-delay: 6100ms;
}
section#projects .container #projects-list > li:nth-child(22) .techs > li:nth-child(2) {
  animation-delay: 6300ms;
}
section#projects .container #projects-list > li:nth-child(22) .techs > li:nth-child(3) {
  animation-delay: 6500ms;
}
section#projects .container #projects-list > li:nth-child(22) .techs > li:nth-child(4) {
  animation-delay: 6700ms;
}
section#projects .container #projects-list > li:nth-child(22) .techs > li:nth-child(5) {
  animation-delay: 6900ms;
}
section#projects .container #projects-list > li:nth-child(22) .techs > li:nth-child(6) {
  animation-delay: 7100ms;
}
section#projects .container #projects-list > li:nth-child(23) {
  animation-delay: 6100ms;
}
section#projects .container #projects-list > li:nth-child(23) .techs > li:nth-child(1) {
  animation-delay: 6300ms;
}
section#projects .container #projects-list > li:nth-child(23) .techs > li:nth-child(2) {
  animation-delay: 6500ms;
}
section#projects .container #projects-list > li:nth-child(23) .techs > li:nth-child(3) {
  animation-delay: 6700ms;
}
section#projects .container #projects-list > li:nth-child(23) .techs > li:nth-child(4) {
  animation-delay: 6900ms;
}
section#projects .container #projects-list > li:nth-child(23) .techs > li:nth-child(5) {
  animation-delay: 7100ms;
}
section#projects .container #projects-list > li:nth-child(23) .techs > li:nth-child(6) {
  animation-delay: 7300ms;
}
section#projects .container #projects-list > li:nth-child(24) {
  animation-delay: 6300ms;
}
section#projects .container #projects-list > li:nth-child(24) .techs > li:nth-child(1) {
  animation-delay: 6500ms;
}
section#projects .container #projects-list > li:nth-child(24) .techs > li:nth-child(2) {
  animation-delay: 6700ms;
}
section#projects .container #projects-list > li:nth-child(24) .techs > li:nth-child(3) {
  animation-delay: 6900ms;
}
section#projects .container #projects-list > li:nth-child(24) .techs > li:nth-child(4) {
  animation-delay: 7100ms;
}
section#projects .container #projects-list > li:nth-child(24) .techs > li:nth-child(5) {
  animation-delay: 7300ms;
}
section#projects .container #projects-list > li:nth-child(24) .techs > li:nth-child(6) {
  animation-delay: 7500ms;
}
section#projects .container #projects-list > li:nth-child(25) {
  animation-delay: 6500ms;
}
section#projects .container #projects-list > li:nth-child(25) .techs > li:nth-child(1) {
  animation-delay: 6700ms;
}
section#projects .container #projects-list > li:nth-child(25) .techs > li:nth-child(2) {
  animation-delay: 6900ms;
}
section#projects .container #projects-list > li:nth-child(25) .techs > li:nth-child(3) {
  animation-delay: 7100ms;
}
section#projects .container #projects-list > li:nth-child(25) .techs > li:nth-child(4) {
  animation-delay: 7300ms;
}
section#projects .container #projects-list > li:nth-child(25) .techs > li:nth-child(5) {
  animation-delay: 7500ms;
}
section#projects .container #projects-list > li:nth-child(25) .techs > li:nth-child(6) {
  animation-delay: 7700ms;
}
section#projects .container #projects-list > li:nth-child(26) {
  animation-delay: 6700ms;
}
section#projects .container #projects-list > li:nth-child(26) .techs > li:nth-child(1) {
  animation-delay: 6900ms;
}
section#projects .container #projects-list > li:nth-child(26) .techs > li:nth-child(2) {
  animation-delay: 7100ms;
}
section#projects .container #projects-list > li:nth-child(26) .techs > li:nth-child(3) {
  animation-delay: 7300ms;
}
section#projects .container #projects-list > li:nth-child(26) .techs > li:nth-child(4) {
  animation-delay: 7500ms;
}
section#projects .container #projects-list > li:nth-child(26) .techs > li:nth-child(5) {
  animation-delay: 7700ms;
}
section#projects .container #projects-list > li:nth-child(26) .techs > li:nth-child(6) {
  animation-delay: 7900ms;
}
section#projects .container #projects-list > li:nth-child(27) {
  animation-delay: 6900ms;
}
section#projects .container #projects-list > li:nth-child(27) .techs > li:nth-child(1) {
  animation-delay: 7100ms;
}
section#projects .container #projects-list > li:nth-child(27) .techs > li:nth-child(2) {
  animation-delay: 7300ms;
}
section#projects .container #projects-list > li:nth-child(27) .techs > li:nth-child(3) {
  animation-delay: 7500ms;
}
section#projects .container #projects-list > li:nth-child(27) .techs > li:nth-child(4) {
  animation-delay: 7700ms;
}
section#projects .container #projects-list > li:nth-child(27) .techs > li:nth-child(5) {
  animation-delay: 7900ms;
}
section#projects .container #projects-list > li:nth-child(27) .techs > li:nth-child(6) {
  animation-delay: 8100ms;
}
section#projects .container #projects-list > li:nth-child(28) {
  animation-delay: 7100ms;
}
section#projects .container #projects-list > li:nth-child(28) .techs > li:nth-child(1) {
  animation-delay: 7300ms;
}
section#projects .container #projects-list > li:nth-child(28) .techs > li:nth-child(2) {
  animation-delay: 7500ms;
}
section#projects .container #projects-list > li:nth-child(28) .techs > li:nth-child(3) {
  animation-delay: 7700ms;
}
section#projects .container #projects-list > li:nth-child(28) .techs > li:nth-child(4) {
  animation-delay: 7900ms;
}
section#projects .container #projects-list > li:nth-child(28) .techs > li:nth-child(5) {
  animation-delay: 8100ms;
}
section#projects .container #projects-list > li:nth-child(28) .techs > li:nth-child(6) {
  animation-delay: 8300ms;
}
section#projects .container #projects-list > li:nth-child(29) {
  animation-delay: 7300ms;
}
section#projects .container #projects-list > li:nth-child(29) .techs > li:nth-child(1) {
  animation-delay: 7500ms;
}
section#projects .container #projects-list > li:nth-child(29) .techs > li:nth-child(2) {
  animation-delay: 7700ms;
}
section#projects .container #projects-list > li:nth-child(29) .techs > li:nth-child(3) {
  animation-delay: 7900ms;
}
section#projects .container #projects-list > li:nth-child(29) .techs > li:nth-child(4) {
  animation-delay: 8100ms;
}
section#projects .container #projects-list > li:nth-child(29) .techs > li:nth-child(5) {
  animation-delay: 8300ms;
}
section#projects .container #projects-list > li:nth-child(29) .techs > li:nth-child(6) {
  animation-delay: 8500ms;
}
section#projects .container #projects-list > li:nth-child(30) {
  animation-delay: 7500ms;
}
section#projects .container #projects-list > li:nth-child(30) .techs > li:nth-child(1) {
  animation-delay: 7700ms;
}
section#projects .container #projects-list > li:nth-child(30) .techs > li:nth-child(2) {
  animation-delay: 7900ms;
}
section#projects .container #projects-list > li:nth-child(30) .techs > li:nth-child(3) {
  animation-delay: 8100ms;
}
section#projects .container #projects-list > li:nth-child(30) .techs > li:nth-child(4) {
  animation-delay: 8300ms;
}
section#projects .container #projects-list > li:nth-child(30) .techs > li:nth-child(5) {
  animation-delay: 8500ms;
}
section#projects .container #projects-list > li:nth-child(30) .techs > li:nth-child(6) {
  animation-delay: 8700ms;
}
section#projects .container #projects-list > li:nth-child(31) {
  animation-delay: 7700ms;
}
section#projects .container #projects-list > li:nth-child(31) .techs > li:nth-child(1) {
  animation-delay: 7900ms;
}
section#projects .container #projects-list > li:nth-child(31) .techs > li:nth-child(2) {
  animation-delay: 8100ms;
}
section#projects .container #projects-list > li:nth-child(31) .techs > li:nth-child(3) {
  animation-delay: 8300ms;
}
section#projects .container #projects-list > li:nth-child(31) .techs > li:nth-child(4) {
  animation-delay: 8500ms;
}
section#projects .container #projects-list > li:nth-child(31) .techs > li:nth-child(5) {
  animation-delay: 8700ms;
}
section#projects .container #projects-list > li:nth-child(31) .techs > li:nth-child(6) {
  animation-delay: 8900ms;
}
section#projects .container #projects-list > li:nth-child(32) {
  animation-delay: 7900ms;
}
section#projects .container #projects-list > li:nth-child(32) .techs > li:nth-child(1) {
  animation-delay: 8100ms;
}
section#projects .container #projects-list > li:nth-child(32) .techs > li:nth-child(2) {
  animation-delay: 8300ms;
}
section#projects .container #projects-list > li:nth-child(32) .techs > li:nth-child(3) {
  animation-delay: 8500ms;
}
section#projects .container #projects-list > li:nth-child(32) .techs > li:nth-child(4) {
  animation-delay: 8700ms;
}
section#projects .container #projects-list > li:nth-child(32) .techs > li:nth-child(5) {
  animation-delay: 8900ms;
}
section#projects .container #projects-list > li:nth-child(32) .techs > li:nth-child(6) {
  animation-delay: 9100ms;
}
section#projects .container #projects-list > li:nth-child(33) {
  animation-delay: 8100ms;
}
section#projects .container #projects-list > li:nth-child(33) .techs > li:nth-child(1) {
  animation-delay: 8300ms;
}
section#projects .container #projects-list > li:nth-child(33) .techs > li:nth-child(2) {
  animation-delay: 8500ms;
}
section#projects .container #projects-list > li:nth-child(33) .techs > li:nth-child(3) {
  animation-delay: 8700ms;
}
section#projects .container #projects-list > li:nth-child(33) .techs > li:nth-child(4) {
  animation-delay: 8900ms;
}
section#projects .container #projects-list > li:nth-child(33) .techs > li:nth-child(5) {
  animation-delay: 9100ms;
}
section#projects .container #projects-list > li:nth-child(33) .techs > li:nth-child(6) {
  animation-delay: 9300ms;
}
section#projects .container #projects-list > li:nth-child(34) {
  animation-delay: 8300ms;
}
section#projects .container #projects-list > li:nth-child(34) .techs > li:nth-child(1) {
  animation-delay: 8500ms;
}
section#projects .container #projects-list > li:nth-child(34) .techs > li:nth-child(2) {
  animation-delay: 8700ms;
}
section#projects .container #projects-list > li:nth-child(34) .techs > li:nth-child(3) {
  animation-delay: 8900ms;
}
section#projects .container #projects-list > li:nth-child(34) .techs > li:nth-child(4) {
  animation-delay: 9100ms;
}
section#projects .container #projects-list > li:nth-child(34) .techs > li:nth-child(5) {
  animation-delay: 9300ms;
}
section#projects .container #projects-list > li:nth-child(34) .techs > li:nth-child(6) {
  animation-delay: 9500ms;
}
section#projects .container #projects-list > li:nth-child(35) {
  animation-delay: 8500ms;
}
section#projects .container #projects-list > li:nth-child(35) .techs > li:nth-child(1) {
  animation-delay: 8700ms;
}
section#projects .container #projects-list > li:nth-child(35) .techs > li:nth-child(2) {
  animation-delay: 8900ms;
}
section#projects .container #projects-list > li:nth-child(35) .techs > li:nth-child(3) {
  animation-delay: 9100ms;
}
section#projects .container #projects-list > li:nth-child(35) .techs > li:nth-child(4) {
  animation-delay: 9300ms;
}
section#projects .container #projects-list > li:nth-child(35) .techs > li:nth-child(5) {
  animation-delay: 9500ms;
}
section#projects .container #projects-list > li:nth-child(35) .techs > li:nth-child(6) {
  animation-delay: 9700ms;
}
section#projects .container #projects-list > li:nth-child(36) {
  animation-delay: 8700ms;
}
section#projects .container #projects-list > li:nth-child(36) .techs > li:nth-child(1) {
  animation-delay: 8900ms;
}
section#projects .container #projects-list > li:nth-child(36) .techs > li:nth-child(2) {
  animation-delay: 9100ms;
}
section#projects .container #projects-list > li:nth-child(36) .techs > li:nth-child(3) {
  animation-delay: 9300ms;
}
section#projects .container #projects-list > li:nth-child(36) .techs > li:nth-child(4) {
  animation-delay: 9500ms;
}
section#projects .container #projects-list > li:nth-child(36) .techs > li:nth-child(5) {
  animation-delay: 9700ms;
}
section#projects .container #projects-list > li:nth-child(36) .techs > li:nth-child(6) {
  animation-delay: 9900ms;
}
section#projects .container #projects-list > li:nth-child(37) {
  animation-delay: 8900ms;
}
section#projects .container #projects-list > li:nth-child(37) .techs > li:nth-child(1) {
  animation-delay: 9100ms;
}
section#projects .container #projects-list > li:nth-child(37) .techs > li:nth-child(2) {
  animation-delay: 9300ms;
}
section#projects .container #projects-list > li:nth-child(37) .techs > li:nth-child(3) {
  animation-delay: 9500ms;
}
section#projects .container #projects-list > li:nth-child(37) .techs > li:nth-child(4) {
  animation-delay: 9700ms;
}
section#projects .container #projects-list > li:nth-child(37) .techs > li:nth-child(5) {
  animation-delay: 9900ms;
}
section#projects .container #projects-list > li:nth-child(37) .techs > li:nth-child(6) {
  animation-delay: 10100ms;
}
section#projects .container #projects-list > li:nth-child(38) {
  animation-delay: 9100ms;
}
section#projects .container #projects-list > li:nth-child(38) .techs > li:nth-child(1) {
  animation-delay: 9300ms;
}
section#projects .container #projects-list > li:nth-child(38) .techs > li:nth-child(2) {
  animation-delay: 9500ms;
}
section#projects .container #projects-list > li:nth-child(38) .techs > li:nth-child(3) {
  animation-delay: 9700ms;
}
section#projects .container #projects-list > li:nth-child(38) .techs > li:nth-child(4) {
  animation-delay: 9900ms;
}
section#projects .container #projects-list > li:nth-child(38) .techs > li:nth-child(5) {
  animation-delay: 10100ms;
}
section#projects .container #projects-list > li:nth-child(38) .techs > li:nth-child(6) {
  animation-delay: 10300ms;
}
section#projects .container #projects-list > li:nth-child(39) {
  animation-delay: 9300ms;
}
section#projects .container #projects-list > li:nth-child(39) .techs > li:nth-child(1) {
  animation-delay: 9500ms;
}
section#projects .container #projects-list > li:nth-child(39) .techs > li:nth-child(2) {
  animation-delay: 9700ms;
}
section#projects .container #projects-list > li:nth-child(39) .techs > li:nth-child(3) {
  animation-delay: 9900ms;
}
section#projects .container #projects-list > li:nth-child(39) .techs > li:nth-child(4) {
  animation-delay: 10100ms;
}
section#projects .container #projects-list > li:nth-child(39) .techs > li:nth-child(5) {
  animation-delay: 10300ms;
}
section#projects .container #projects-list > li:nth-child(39) .techs > li:nth-child(6) {
  animation-delay: 10500ms;
}
section#projects .container #projects-list > li:nth-child(40) {
  animation-delay: 9500ms;
}
section#projects .container #projects-list > li:nth-child(40) .techs > li:nth-child(1) {
  animation-delay: 9700ms;
}
section#projects .container #projects-list > li:nth-child(40) .techs > li:nth-child(2) {
  animation-delay: 9900ms;
}
section#projects .container #projects-list > li:nth-child(40) .techs > li:nth-child(3) {
  animation-delay: 10100ms;
}
section#projects .container #projects-list > li:nth-child(40) .techs > li:nth-child(4) {
  animation-delay: 10300ms;
}
section#projects .container #projects-list > li:nth-child(40) .techs > li:nth-child(5) {
  animation-delay: 10500ms;
}
section#projects .container #projects-list > li:nth-child(40) .techs > li:nth-child(6) {
  animation-delay: 10700ms;
}
section#projects .container #projects-list > li:nth-child(41) {
  animation-delay: 9700ms;
}
section#projects .container #projects-list > li:nth-child(41) .techs > li:nth-child(1) {
  animation-delay: 9900ms;
}
section#projects .container #projects-list > li:nth-child(41) .techs > li:nth-child(2) {
  animation-delay: 10100ms;
}
section#projects .container #projects-list > li:nth-child(41) .techs > li:nth-child(3) {
  animation-delay: 10300ms;
}
section#projects .container #projects-list > li:nth-child(41) .techs > li:nth-child(4) {
  animation-delay: 10500ms;
}
section#projects .container #projects-list > li:nth-child(41) .techs > li:nth-child(5) {
  animation-delay: 10700ms;
}
section#projects .container #projects-list > li:nth-child(41) .techs > li:nth-child(6) {
  animation-delay: 10900ms;
}
section#projects .container #projects-list > li:nth-child(42) {
  animation-delay: 9900ms;
}
section#projects .container #projects-list > li:nth-child(42) .techs > li:nth-child(1) {
  animation-delay: 10100ms;
}
section#projects .container #projects-list > li:nth-child(42) .techs > li:nth-child(2) {
  animation-delay: 10300ms;
}
section#projects .container #projects-list > li:nth-child(42) .techs > li:nth-child(3) {
  animation-delay: 10500ms;
}
section#projects .container #projects-list > li:nth-child(42) .techs > li:nth-child(4) {
  animation-delay: 10700ms;
}
section#projects .container #projects-list > li:nth-child(42) .techs > li:nth-child(5) {
  animation-delay: 10900ms;
}
section#projects .container #projects-list > li:nth-child(42) .techs > li:nth-child(6) {
  animation-delay: 11100ms;
}
section#projects .container #projects-list > li:nth-child(43) {
  animation-delay: 10100ms;
}
section#projects .container #projects-list > li:nth-child(43) .techs > li:nth-child(1) {
  animation-delay: 10300ms;
}
section#projects .container #projects-list > li:nth-child(43) .techs > li:nth-child(2) {
  animation-delay: 10500ms;
}
section#projects .container #projects-list > li:nth-child(43) .techs > li:nth-child(3) {
  animation-delay: 10700ms;
}
section#projects .container #projects-list > li:nth-child(43) .techs > li:nth-child(4) {
  animation-delay: 10900ms;
}
section#projects .container #projects-list > li:nth-child(43) .techs > li:nth-child(5) {
  animation-delay: 11100ms;
}
section#projects .container #projects-list > li:nth-child(43) .techs > li:nth-child(6) {
  animation-delay: 11300ms;
}
section#projects .container #projects-list > li:nth-child(44) {
  animation-delay: 10300ms;
}
section#projects .container #projects-list > li:nth-child(44) .techs > li:nth-child(1) {
  animation-delay: 10500ms;
}
section#projects .container #projects-list > li:nth-child(44) .techs > li:nth-child(2) {
  animation-delay: 10700ms;
}
section#projects .container #projects-list > li:nth-child(44) .techs > li:nth-child(3) {
  animation-delay: 10900ms;
}
section#projects .container #projects-list > li:nth-child(44) .techs > li:nth-child(4) {
  animation-delay: 11100ms;
}
section#projects .container #projects-list > li:nth-child(44) .techs > li:nth-child(5) {
  animation-delay: 11300ms;
}
section#projects .container #projects-list > li:nth-child(44) .techs > li:nth-child(6) {
  animation-delay: 11500ms;
}
section#projects .container #projects-list > li:nth-child(45) {
  animation-delay: 10500ms;
}
section#projects .container #projects-list > li:nth-child(45) .techs > li:nth-child(1) {
  animation-delay: 10700ms;
}
section#projects .container #projects-list > li:nth-child(45) .techs > li:nth-child(2) {
  animation-delay: 10900ms;
}
section#projects .container #projects-list > li:nth-child(45) .techs > li:nth-child(3) {
  animation-delay: 11100ms;
}
section#projects .container #projects-list > li:nth-child(45) .techs > li:nth-child(4) {
  animation-delay: 11300ms;
}
section#projects .container #projects-list > li:nth-child(45) .techs > li:nth-child(5) {
  animation-delay: 11500ms;
}
section#projects .container #projects-list > li:nth-child(45) .techs > li:nth-child(6) {
  animation-delay: 11700ms;
}
section#projects .container #projects-list > li:nth-child(46) {
  animation-delay: 10700ms;
}
section#projects .container #projects-list > li:nth-child(46) .techs > li:nth-child(1) {
  animation-delay: 10900ms;
}
section#projects .container #projects-list > li:nth-child(46) .techs > li:nth-child(2) {
  animation-delay: 11100ms;
}
section#projects .container #projects-list > li:nth-child(46) .techs > li:nth-child(3) {
  animation-delay: 11300ms;
}
section#projects .container #projects-list > li:nth-child(46) .techs > li:nth-child(4) {
  animation-delay: 11500ms;
}
section#projects .container #projects-list > li:nth-child(46) .techs > li:nth-child(5) {
  animation-delay: 11700ms;
}
section#projects .container #projects-list > li:nth-child(46) .techs > li:nth-child(6) {
  animation-delay: 11900ms;
}
section#projects .container #projects-list > li:nth-child(47) {
  animation-delay: 10900ms;
}
section#projects .container #projects-list > li:nth-child(47) .techs > li:nth-child(1) {
  animation-delay: 11100ms;
}
section#projects .container #projects-list > li:nth-child(47) .techs > li:nth-child(2) {
  animation-delay: 11300ms;
}
section#projects .container #projects-list > li:nth-child(47) .techs > li:nth-child(3) {
  animation-delay: 11500ms;
}
section#projects .container #projects-list > li:nth-child(47) .techs > li:nth-child(4) {
  animation-delay: 11700ms;
}
section#projects .container #projects-list > li:nth-child(47) .techs > li:nth-child(5) {
  animation-delay: 11900ms;
}
section#projects .container #projects-list > li:nth-child(47) .techs > li:nth-child(6) {
  animation-delay: 12100ms;
}
section#projects .container #projects-list > li:nth-child(48) {
  animation-delay: 11100ms;
}
section#projects .container #projects-list > li:nth-child(48) .techs > li:nth-child(1) {
  animation-delay: 11300ms;
}
section#projects .container #projects-list > li:nth-child(48) .techs > li:nth-child(2) {
  animation-delay: 11500ms;
}
section#projects .container #projects-list > li:nth-child(48) .techs > li:nth-child(3) {
  animation-delay: 11700ms;
}
section#projects .container #projects-list > li:nth-child(48) .techs > li:nth-child(4) {
  animation-delay: 11900ms;
}
section#projects .container #projects-list > li:nth-child(48) .techs > li:nth-child(5) {
  animation-delay: 12100ms;
}
section#projects .container #projects-list > li:nth-child(48) .techs > li:nth-child(6) {
  animation-delay: 12300ms;
}
section#projects .container #projects-list > li:nth-child(49) {
  animation-delay: 11300ms;
}
section#projects .container #projects-list > li:nth-child(49) .techs > li:nth-child(1) {
  animation-delay: 11500ms;
}
section#projects .container #projects-list > li:nth-child(49) .techs > li:nth-child(2) {
  animation-delay: 11700ms;
}
section#projects .container #projects-list > li:nth-child(49) .techs > li:nth-child(3) {
  animation-delay: 11900ms;
}
section#projects .container #projects-list > li:nth-child(49) .techs > li:nth-child(4) {
  animation-delay: 12100ms;
}
section#projects .container #projects-list > li:nth-child(49) .techs > li:nth-child(5) {
  animation-delay: 12300ms;
}
section#projects .container #projects-list > li:nth-child(49) .techs > li:nth-child(6) {
  animation-delay: 12500ms;
}
section#projects .container #projects-list > li:nth-child(50) {
  animation-delay: 11500ms;
}
section#projects .container #projects-list > li:nth-child(50) .techs > li:nth-child(1) {
  animation-delay: 11700ms;
}
section#projects .container #projects-list > li:nth-child(50) .techs > li:nth-child(2) {
  animation-delay: 11900ms;
}
section#projects .container #projects-list > li:nth-child(50) .techs > li:nth-child(3) {
  animation-delay: 12100ms;
}
section#projects .container #projects-list > li:nth-child(50) .techs > li:nth-child(4) {
  animation-delay: 12300ms;
}
section#projects .container #projects-list > li:nth-child(50) .techs > li:nth-child(5) {
  animation-delay: 12500ms;
}
section#projects .container #projects-list > li:nth-child(50) .techs > li:nth-child(6) {
  animation-delay: 12700ms;
}
section#projects .container #projects-list > li:nth-child(51) {
  animation-delay: 11700ms;
}
section#projects .container #projects-list > li:nth-child(51) .techs > li:nth-child(1) {
  animation-delay: 11900ms;
}
section#projects .container #projects-list > li:nth-child(51) .techs > li:nth-child(2) {
  animation-delay: 12100ms;
}
section#projects .container #projects-list > li:nth-child(51) .techs > li:nth-child(3) {
  animation-delay: 12300ms;
}
section#projects .container #projects-list > li:nth-child(51) .techs > li:nth-child(4) {
  animation-delay: 12500ms;
}
section#projects .container #projects-list > li:nth-child(51) .techs > li:nth-child(5) {
  animation-delay: 12700ms;
}
section#projects .container #projects-list > li:nth-child(51) .techs > li:nth-child(6) {
  animation-delay: 12900ms;
}
section#projects .container #projects-list > li:nth-child(52) {
  animation-delay: 11900ms;
}
section#projects .container #projects-list > li:nth-child(52) .techs > li:nth-child(1) {
  animation-delay: 12100ms;
}
section#projects .container #projects-list > li:nth-child(52) .techs > li:nth-child(2) {
  animation-delay: 12300ms;
}
section#projects .container #projects-list > li:nth-child(52) .techs > li:nth-child(3) {
  animation-delay: 12500ms;
}
section#projects .container #projects-list > li:nth-child(52) .techs > li:nth-child(4) {
  animation-delay: 12700ms;
}
section#projects .container #projects-list > li:nth-child(52) .techs > li:nth-child(5) {
  animation-delay: 12900ms;
}
section#projects .container #projects-list > li:nth-child(52) .techs > li:nth-child(6) {
  animation-delay: 13100ms;
}
section#projects .container #projects-list > li:nth-child(53) {
  animation-delay: 12100ms;
}
section#projects .container #projects-list > li:nth-child(53) .techs > li:nth-child(1) {
  animation-delay: 12300ms;
}
section#projects .container #projects-list > li:nth-child(53) .techs > li:nth-child(2) {
  animation-delay: 12500ms;
}
section#projects .container #projects-list > li:nth-child(53) .techs > li:nth-child(3) {
  animation-delay: 12700ms;
}
section#projects .container #projects-list > li:nth-child(53) .techs > li:nth-child(4) {
  animation-delay: 12900ms;
}
section#projects .container #projects-list > li:nth-child(53) .techs > li:nth-child(5) {
  animation-delay: 13100ms;
}
section#projects .container #projects-list > li:nth-child(53) .techs > li:nth-child(6) {
  animation-delay: 13300ms;
}
section#projects .container #projects-list > li:nth-child(54) {
  animation-delay: 12300ms;
}
section#projects .container #projects-list > li:nth-child(54) .techs > li:nth-child(1) {
  animation-delay: 12500ms;
}
section#projects .container #projects-list > li:nth-child(54) .techs > li:nth-child(2) {
  animation-delay: 12700ms;
}
section#projects .container #projects-list > li:nth-child(54) .techs > li:nth-child(3) {
  animation-delay: 12900ms;
}
section#projects .container #projects-list > li:nth-child(54) .techs > li:nth-child(4) {
  animation-delay: 13100ms;
}
section#projects .container #projects-list > li:nth-child(54) .techs > li:nth-child(5) {
  animation-delay: 13300ms;
}
section#projects .container #projects-list > li:nth-child(54) .techs > li:nth-child(6) {
  animation-delay: 13500ms;
}
section#projects .container #projects-list > li:nth-child(55) {
  animation-delay: 12500ms;
}
section#projects .container #projects-list > li:nth-child(55) .techs > li:nth-child(1) {
  animation-delay: 12700ms;
}
section#projects .container #projects-list > li:nth-child(55) .techs > li:nth-child(2) {
  animation-delay: 12900ms;
}
section#projects .container #projects-list > li:nth-child(55) .techs > li:nth-child(3) {
  animation-delay: 13100ms;
}
section#projects .container #projects-list > li:nth-child(55) .techs > li:nth-child(4) {
  animation-delay: 13300ms;
}
section#projects .container #projects-list > li:nth-child(55) .techs > li:nth-child(5) {
  animation-delay: 13500ms;
}
section#projects .container #projects-list > li:nth-child(55) .techs > li:nth-child(6) {
  animation-delay: 13700ms;
}
section#projects .container #projects-list > li:nth-child(56) {
  animation-delay: 12700ms;
}
section#projects .container #projects-list > li:nth-child(56) .techs > li:nth-child(1) {
  animation-delay: 12900ms;
}
section#projects .container #projects-list > li:nth-child(56) .techs > li:nth-child(2) {
  animation-delay: 13100ms;
}
section#projects .container #projects-list > li:nth-child(56) .techs > li:nth-child(3) {
  animation-delay: 13300ms;
}
section#projects .container #projects-list > li:nth-child(56) .techs > li:nth-child(4) {
  animation-delay: 13500ms;
}
section#projects .container #projects-list > li:nth-child(56) .techs > li:nth-child(5) {
  animation-delay: 13700ms;
}
section#projects .container #projects-list > li:nth-child(56) .techs > li:nth-child(6) {
  animation-delay: 13900ms;
}
section#projects .container #projects-list > li:nth-child(57) {
  animation-delay: 12900ms;
}
section#projects .container #projects-list > li:nth-child(57) .techs > li:nth-child(1) {
  animation-delay: 13100ms;
}
section#projects .container #projects-list > li:nth-child(57) .techs > li:nth-child(2) {
  animation-delay: 13300ms;
}
section#projects .container #projects-list > li:nth-child(57) .techs > li:nth-child(3) {
  animation-delay: 13500ms;
}
section#projects .container #projects-list > li:nth-child(57) .techs > li:nth-child(4) {
  animation-delay: 13700ms;
}
section#projects .container #projects-list > li:nth-child(57) .techs > li:nth-child(5) {
  animation-delay: 13900ms;
}
section#projects .container #projects-list > li:nth-child(57) .techs > li:nth-child(6) {
  animation-delay: 14100ms;
}
section#projects .container #projects-list > li:nth-child(58) {
  animation-delay: 13100ms;
}
section#projects .container #projects-list > li:nth-child(58) .techs > li:nth-child(1) {
  animation-delay: 13300ms;
}
section#projects .container #projects-list > li:nth-child(58) .techs > li:nth-child(2) {
  animation-delay: 13500ms;
}
section#projects .container #projects-list > li:nth-child(58) .techs > li:nth-child(3) {
  animation-delay: 13700ms;
}
section#projects .container #projects-list > li:nth-child(58) .techs > li:nth-child(4) {
  animation-delay: 13900ms;
}
section#projects .container #projects-list > li:nth-child(58) .techs > li:nth-child(5) {
  animation-delay: 14100ms;
}
section#projects .container #projects-list > li:nth-child(58) .techs > li:nth-child(6) {
  animation-delay: 14300ms;
}
section#projects .container #projects-list > li:nth-child(59) {
  animation-delay: 13300ms;
}
section#projects .container #projects-list > li:nth-child(59) .techs > li:nth-child(1) {
  animation-delay: 13500ms;
}
section#projects .container #projects-list > li:nth-child(59) .techs > li:nth-child(2) {
  animation-delay: 13700ms;
}
section#projects .container #projects-list > li:nth-child(59) .techs > li:nth-child(3) {
  animation-delay: 13900ms;
}
section#projects .container #projects-list > li:nth-child(59) .techs > li:nth-child(4) {
  animation-delay: 14100ms;
}
section#projects .container #projects-list > li:nth-child(59) .techs > li:nth-child(5) {
  animation-delay: 14300ms;
}
section#projects .container #projects-list > li:nth-child(59) .techs > li:nth-child(6) {
  animation-delay: 14500ms;
}
section#projects .container #projects-list > li:nth-child(60) {
  animation-delay: 13500ms;
}
section#projects .container #projects-list > li:nth-child(60) .techs > li:nth-child(1) {
  animation-delay: 13700ms;
}
section#projects .container #projects-list > li:nth-child(60) .techs > li:nth-child(2) {
  animation-delay: 13900ms;
}
section#projects .container #projects-list > li:nth-child(60) .techs > li:nth-child(3) {
  animation-delay: 14100ms;
}
section#projects .container #projects-list > li:nth-child(60) .techs > li:nth-child(4) {
  animation-delay: 14300ms;
}
section#projects .container #projects-list > li:nth-child(60) .techs > li:nth-child(5) {
  animation-delay: 14500ms;
}
section#projects .container #projects-list > li:nth-child(60) .techs > li:nth-child(6) {
  animation-delay: 14700ms;
}
section#projects .container #projects-list > li {
  flex-shrink: 0;
  flex-basis: min(80%, 250px);
  display: grid;
  gap: 10px;
  animation: appear 500ms backwards;
}
section#projects .container #projects-list > li .image-container {
  overflow: hidden;
  position: relative;
}
section#projects .container #projects-list > li .image-container a {
  color: black;
}
section#projects .container #projects-list > li .image-container a:hover img, section#projects .container #projects-list > li .image-container a:focus img {
  transform: scale(1.2);
}
section#projects .container #projects-list > li .image-container a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  transition: 200ms;
}
section#projects .container #projects-list > li .image-container .techs {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: right;
}
section#projects .container #projects-list > li .image-container .techs li {
  background-color: black;
  border-radius: 999px;
  padding: 8px;
  display: flex;
  animation: appear 500ms backwards, bounce-techs 2s infinite;
}
section#projects .container #projects-list > li .image-container .techs li ion-icon {
  color: white;
  font-size: 20px;
}
section#projects .container #projects-list > li h2 {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */