$mainBackgroundColor: white;
$secondaryBackgroundColor: black;

$mainTextColor: black;
$secondaryTextColor: white;
$thirdTextColor: #a0a0a0;

main {
    @keyframes appear {
        from {
            opacity: 0;
            transform: translateY(-30px);
        }
    }

    @keyframes bounce {
        0% {
            transform: translateY(0px);
        }

        30% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }

        70% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    section#filter {
        background-color: $secondaryBackgroundColor;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 0px;
            gap: 20px;

            #projects-number {
                color: $secondaryTextColor;
                animation: appear 750ms backwards 1.8s;
            }

            .techs-div {
                display: grid;
                gap: 14px;

                p {
                    color: $secondaryTextColor;
                    font-size: 20px;
                    display: flex;
                    gap: 8px;
                    animation: appear 750ms backwards 1.8s;

                    .arrow-down {
                        font-size: 28px;
                        animation: bounce 2s infinite;
                    }
                }

                .techs {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;

                    $items: 6;

                    @for $i from 1 through $items {
                        li:nth-child(#{$i}) {
                            animation-delay: $i * 200ms + 500ms, $i * 200ms + 3s;
                        }
                    }

                    li {
                        animation: appear 750ms backwards, bounce 3s infinite;

                        input:checked+label {
                            transform: scale(1);
                            opacity: 1;
                        }

                        input:focus+label,
                        label:hover {
                            transform: scale(1);
                            outline: $secondaryTextColor solid 2px;
                        }

                        label {
                            display: flex;
                            cursor: pointer;
                            border-radius: 10px;
                            padding: 2px;
                            transition: transform 0.5s, opacity 0.3s, outline 0.3s;
                            opacity: .5;
                            transform: scale(0.7);

                            ion-icon {
                                color: $secondaryTextColor;
                                font-size: 44px;
                            }
                        }
                    }
                }
            }

            .filter-by-div {
                color: $secondaryTextColor;
                display: grid;
                gap: 14px;
                animation: appear 750ms backwards 1.8s;

                p {
                    justify-content: center;
                    display: flex;
                    gap: 8px;
                }

                .arrow-down {
                    align-items: center;
                    font-size: 28px;
                    animation: bounce 2s infinite;
                }

                select {
                    color: $secondaryTextColor;
                    background-color: $secondaryBackgroundColor;
                    border: 1px solid $secondaryTextColor;
                    border-bottom: none;
                    font-size: 20px;
                    padding: 12px;
                    border-radius: 8px 8px 0px 0px;
                    outline: none;
                    cursor: pointer;

                    &:hover,
                    &:focus {
                        filter: brightness(1.6);
                        background-color: rgb(20, 20, 20);

                    }
                }
            }
        }
    }
}