$mainBackgroundColor: white;
$secondaryBackgroundColor: black;

$mainTextColor: black;
$secondaryTextColor: white;
$thirdTextColor: #a0a0a0;

body {
    background-color: $mainBackgroundColor;
}

main {
    section {
        .container {
            p {
                margin: 20px 0;
            }
        }
    }

    section#home {
        position: relative;
        background-color: $secondaryBackgroundColor;
        color: $secondaryTextColor;

        @keyframes appear-left {
            from {
                transform: translateX(-50px);
                opacity: 0;
            }
        }

        @keyframes appear-bottom {
            from {
                transform: translateY(50px);
                opacity: 0;
            }
        }

        @keyframes bounce {
            0% {
                transform: translateY(0px);
            }

            30% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(-30px);
            }

            70% {
                transform: translateY(0px);
            }

            100% {
                transform: translateY(0px);
            }
        }

        .container {
            height: 105vh;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 50px;

            .intro {
                margin-top: -100px;
                display: grid;
                gap: 10px;
                margin-inline: auto;
                animation: appear-left 1s;

                h1 {
                    font-size: 48px;
                    font-weight: 900;
                }

                h2 {
                    font-size: 32px;
                    color: $thirdTextColor;
                }
            }

            ul.techs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px 10px;

                li {
                    animation: appear-bottom 1s backwards, bounce 4s infinite;

                    ion-icon {
                        font-size: 45px;
                        transition: transform 300ms;

                        &:hover {
                            transform: scale(1.5) translateY(-10px);
                        }
                    }
                }

                $items: 7;

                @for $i from 1 through $items {
                    li:nth-child(#{$i}) {
                        animation-delay: $i * 200ms, $i * 300ms + 700ms;
                    }
                }
            }

            .arrow-down {
                @keyframes move-up-down {
                    0% {
                        transform: translate(50%, 0px);
                    }

                    50% {
                        transform: translate(50%, -50px);
                    }

                    100% {
                        transform: translate(50%, 0px);
                    }
                }

                font-size: 40px;
                position: absolute;
                right: 50%;
                bottom: 10%;
                animation: move-up-down 2s infinite ease-in-out;
            }
        }
    }

    section#about {
        position: relative;
        overflow-x: hidden;

        &::before {
            content: "";
            position: absolute;
            height: 80%;
            width: 400px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.2);
            top: 50%;
            right: -200px;
            transform: translateY(-50%);
        }
    }
}

@media (min-width: 800px) {
    main section#home .container {
        .intro {
            h1 {
                font-size: 62px;
            }

            h2 {
                font-size: 40px;
            }
        }

        ul.techs {
            li {
                ion-icon {
                    font-size: 60px;
                }
            }
        }
    }
}