body {
    margin: 0;
}

/*      =====   HEADER    =====      */
header {
    background-color: black;
    width: 100vw;
}

.container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .container {
    flex-direction: row;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 2.5rem;
}

header ul {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    font-size: 1.5rem;
    padding: 40px 15px;
    list-style-type: none;
}

/*      =====   MAIN    =====      */

#aboutMe {
    border-bottom: 1px black solid;
    padding: 30px 0;
}

main h2 {
    font-size: 2.5rem;
    margin: 0 0 50px 0;
    text-align: center;
}

main ul {
    font-size: 1.5rem;
    list-style-type: square;
    text-align: left;
    margin: 0 auto 0 0;
}

main li {
    margin: 20px 0;
}

main p {
    font-size: 1.5rem;
    text-align: justify;
}

.button {
    background-color: black;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 0;
    margin: 10px 0;
}

#someProjects {
    border-bottom: 1px black solid;
    padding: 50px 0;
    width: 100%;
}

/*      =====   FOOTER    =====      */

footer {
    background-color: black;
    color: white;
}

footer h2 {
    margin: 30px 0 50px;
    font-size: 2.5rem;
}

footer ul {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    list-style-type: none;
}
footer a {
    color: white;
    text-decoration: none;
}