body {
    margin: 0;
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 30px;
}

header ul {
    color: white;
    margin: 0;
}
