$mainBackgroundColor: white;
$secondaryBackgroundColor: black;

$mainTextColor: black;
$secondaryTextColor: white;

section#chat {
    background-color: $secondaryBackgroundColor;
    color: $secondaryTextColor;

    .container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .question,
        .answer {
            background-color: $mainBackgroundColor;
            color: $mainTextColor;
            border: 2px solid $mainBackgroundColor;
            border-radius: 22px;
            padding: 10px;
            font-size: 20px;
            line-height: 24px;
            width: max-content;
            max-width: 70%;
            font-weight: 400;

            ul {
                padding-left: 20px;
                margin-top: 5px;
            }
        }

        .answer {
            margin-left: auto;
            background-color: transparent;
            color: $secondaryTextColor;
        }
    }
}