$mainBackgroundColor: white;
$secondaryBackgroundColor: black;

$mainTextColor: black;
$secondaryTextColor: white;

section#chat {
    background-color: $secondaryBackgroundColor;
    color: $secondaryTextColor;

    .container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @keyframes appear-right {
            from {
                transform: translateX(80px);
                opacity: 0;
            }
        }

        @keyframes appear-left {
            from {
                transform: translateX(-80px);
                opacity: 0;
            }
        }

        .question,
        .answer {
            background-color: $mainBackgroundColor;
            color: $mainTextColor;
            border: 2px solid $mainBackgroundColor;
            border-radius: 22px;
            padding: 10px;
            font-size: 20px;
            line-height: 24px;
            width: max-content;
            max-width: 70%;
            font-weight: 400;

            ul {
                padding-left: 20px;
                margin-top: 5px;
            }
        }

        .question {
            animation: appear-left 1s backwards;
        }

        .answer {
            margin-left: auto;
            background-color: transparent;
            color: $secondaryTextColor;
            animation: appear-right 1s backwards;
        }

        $items: calc(8);

        @for $i from 1 through $items {

            .question:nth-child(#{$i}),
            .answer:nth-child(#{$i}) {
                animation-delay: $i * 200ms;
            }
        }
    }
}